<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="mainDB" connectionString="data source=myDb.db;foreign keys=true;" providerName="System.Data.SQLite.Core"/>
  </connectionStrings>
</configuration>