<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net461" />
  <package id="Microsoft.ReportingServices.Interfaces" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="140.1000.523" targetFramework="net461" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="140.1000.523" targetFramework="net461" />
  <package id="Microsoft.ReportViewer.Common.VS2010" version="10.0.40219.1" targetFramework="net461" />
  <package id="Microsoft.ReportViewer.WinForms.v12" version="12.0.0.1" targetFramework="net461" />
  <package id="Microsoft.ReportViewer.WinForms.VS2010" version="10.0.40219.1" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.107.0" targetFramework="net461" />
</packages>